# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components
.npmrc

/*/node_modules

# Java
.vscode/
*.class
/.mvn
target/
.mvn/
.idea/

## Maven project
.project
*.prefs
*.classpath

## Python
__pycache__/
